.image {
  width: 100%;
  object-fit: cover;
}

.fullscreen {
  height: 100vh !important;
}

.grayscale {
  filter: grayscale(100%);
}

@media (width >= 768px) {
  .image {
    // height: 294px;
  }
}

@media (width >= 1179px) {
  .image {
    // height: 400vh;
  }
}
