.footer {
  display: flex;

  position: sticky;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 100%;

  color: var(--white);

  background-color: var(--black);

  .footerText {
    grid-column: span 12;

    margin: 20px 15px;
  }
}
