/* Navigation */
.topnav {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    background-color: #9aac93;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
    font-weight: 37rem;
}

li a:hover {
    transform: scale(105%);
    color: black;
}

/* HOMEPAGE */
/* about me */

.introduction {
    /* height: 28rem; */
}

.intro {
    /* margin-top: 9rem; */
    /* margin-left: 18rem; */
    font-weight: 900;
    font-size: 3rem;
}

.information {
    /* margin-top: 1rem; */
    /* margin-left: 18rem; */
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
}

.aboutmeimg {
    /* margin-left: 15rem; */
    /* margin-top: 6rem; */
    /* height: 40rem; */
    border: 2rem solid #9aac93;
}

.resumebox {
    background-color: #9aac93;
    /* height: 25rem; */
    /* margin-top: 1rem; */
}

/* download resume */
.ResumeBTN {
    background-color: #9aac93;
    padding: 0.6rem;
    border-radius: 2rem;
    /* margin-left: 12rem; */
    text-decoration: none;
    font-weight: 650;
}

.resumetext {
    text-align: left;
    /* padding-top: 9rem; */
    /* padding-left: 18rem; */
    font-weight: 500;
    font-size: 1rem;
}

@media (min-width: 375px) {
    body {
        background-color: #e6e7e5 !important;
    }

    .intro {
        font-weight: 500 !important;
        margin-top: 1rem !important;
        font-size: 2rem !important;
    }

    .information {
        font-weight: 400 !important;
        font-size: 1rem !important;
    }

    .resumebox {
        height: 16rem;
        margin-top: -10rem;
    }
}