.BottomContainer {
    margin: -50% 0% 0% 0%;
}

/* Information */

.information {
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.information h1 {
    color: var(--tertaire-color);
    text-decoration: underline;
}

.information p {
    text-align: left;
    margin: 1rem;
}

.information span {
    color: var(--quaternary-color);
}

.information img {
    width:   30%;
    border-radius: 1rem;
}


.informationExtra {
    font-size:20px;
}


/* breakpoints */
@media (min-width: 650px) {
    .informationExtra{
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .BottomContainer {
        margin: -0% 0% 0% 0%;
        font-size: 20px;
    }

    .about img {
        width: 30%;
        margin: 2% 5% 0% 10%;
    }


}

@media (min-width: 1280px) {}