:root {
    font-family: 'Gambetta', serif;
    --text-color: white;
    --primary-color: #2C3639;
    --secondary-color: #3F4E4F;
    --tertaire-color: #A27B5C;
    --quaternary-color: #c39976;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--primary-color);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 0px 5px;
}

.col {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowContact {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0px 5px;

}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    -ms-overflow-style: none;
}

/* Navigation */
.nav {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0.5rem 0.5rem;
    text-transform: uppercase;
}

.nav-item {
    color: var(--text-color);
    list-style: none;
    padding: 0.5rem;
}

.nav-item a {
    color: var(--text-color);
    text-decoration: none;
}

.nav-item:first-child {
    margin-right: auto;
}

.nav-item:nth-child(3) {
    margin-left: auto;
}

/* Projects */
.BottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BottomContainer h2 {
    color: var(--tertaire-color);
    text-transform: uppercase;
    text-decoration: none;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}

.projects a {
    text-decoration: none;
    color: var(--text-color);
}

.projects div {
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 4rem;
    flex: 0 1 calc(50% - 1rem);
    margin: 1rem .25rem;
    border-radius: 5px;
    background: var(--secondary-color);
    box-shadow: 2px 2px 5px black;
}

/* About Me */
.about {
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about h1 {
    color: var(--tertaire-color);
}

.about p {
    text-align: left;
    margin: 1rem;
}

.about span {
    color: var(--quaternary-color);
}

.about img {
    width: 60%;
    margin: 0% 20% 0% 20%;
    border-radius: 1rem;
}

.contact {
    background-color: #1a20216a;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.contactInformation p,
.contactInformation a {
    color: var(--tertaire-color);
    font-size: medium;
    font-weight: bold;
    padding-top: 10px;
}


/* breakpoints */
@media (min-width: 650px) {
    .col img {
        height: 90%;
        width:90% !important;
    }

    .col {
        width: 50%;
    }

    .containerProject {
        margin-top: -10rem;
    }

    .animation text {
        font-size: 80px;
    }

    .projects div {
        flex: 0 1 calc(25% - 1rem);
    }

    .contactInformation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactInformation a,
    p {
        margin: 0px 5px 0px 5px;
    }

    .about img {
        width: 40%;
        margin: 0% 5% 0% 0%;
    }

    .imgrow {
        display: flex;
        flex-direction: row;
    }

    .imgrow p {
        margin: 10% 5% 5% 5%;
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    .about img {
        width: 30%;
        margin: 2% 5% 0% 10%;
    }
}

@media (min-width: 1280px) {
    .col img {
        margin-top: 0%;
        width:60% !important;
    }

    body {
        font-size: 20px;
    }

    .animation text {
        font-size: 100px;
    }

    .nav {
        text-transform: none;
    }

    .about img {
        width: 25%;
        margin: -1% 5% 0% 10%;
    }

    .imgrow p {
        font-size: 30px;
    }
}