:root {
    font-family: 'Gambetta', serif;
    --text-color: white;
    --primary-color: #2C3639;
    --secondary-color: #3F4E4F;
    --tertaire-color: #A27B5C;
    --quaternary-color: #c39976;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--primary-color);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0px 5px;
}

/* Navigation */
.nav {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0.5rem 0.5rem;
    text-transform: uppercase;
}

.nav-item {
    color: var(--text-color);
    list-style: none;
    padding: 0.5rem;
}

.nav-item a {
    color: var(--text-color);
    text-decoration: none;
}

.nav-item:first-child {
    margin-right: auto;
}

.nav-item:nth-child(4) {
    margin-left: auto;
}

/* Projects */
.BottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BottomContainer h2 {
    color: var(--tertaire-color);
    text-transform: uppercase;
    text-decoration: none;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}

.projects a {
    text-decoration: none;
    color: var(--text-color);
}

.projects div {
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 4rem;
    flex: 0 1 calc(50% - 1rem);
    margin: 1rem .25rem;
    border-radius: 5px;
    background: var(--secondary-color);
    box-shadow: 2px 2px 5px black;
}

/* About Me */
.about {
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about h1 {
    color: var(--tertaire-color);
}

.about p {
    text-align: left;
    margin: 1rem;
}

.about span {
    color: var(--quaternary-color);
}

.about img {
    width: 60%;
    margin: 0% 20% 0% 20%;
    border-radius: 1rem;
}

.contact {
    background-color: #1a20216a;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.contactInformation p,
a {
    color: var(--tertaire-color);
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    padding-top: 10px;
}


/* ANIMATIONS. */

/* Animations Homepage Title*/
.animation text {
    margin-top: -50rem;
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    color: var(--tertaire-color);
}

.animation text:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}

svg {
    width: 100%;
    height: 13%;
}

svg text {
    stroke: #c39976;
    font-weight: 700;
    stroke-width: 1;
    animation: textAnimate 10s infinite alternate;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 100%;
        stroke-dashoffset: 20%;
        fill: var(--tertaire-color)
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: var(--primary-color)
    }
}

/* Fading Animation*/
.fade-in {
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 40%;
}

.containerFade {
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;

}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

/* breakpoints */
@media (min-width: 650px) {
    .containerProject {
        margin-top: -10rem;
    }

    .animation text {
        font-size: 80px;
    }

    .projects div {
        flex: 0 1 calc(25% - 1rem);
    }

    .contactInformation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactInformation a,
    p {
        margin: 0px 5px 0px 5px;
    }

    .about img {
        width: 40%;
        margin: 0% 5% 0% 0%;
    }

    .imgrow{
        display: flex;
        flex-direction: row;
    }

    .imgrow p{
        margin: 10% 5% 5% 5%;
        font-size:25px;
    }
}

@media (min-width: 1280px) {
    body {
        font-size: 20px;
    }

    .animation text {
        font-size: 100px;
    }

    .nav {
        text-transform: none;
    }

    .about img {
        width: 25%;
        margin: 0% 5% 0% 10%;
    }

    .imgrow p{
        font-size:30px;
    }
}