html body {
    background-color: #bac9b3;
}

.projectpage {
    background-color: #e6e7e5;
}

/* Navigation */
.topnav {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    background-color: #9aac93;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-left: -1rem;
    text-decoration: none;
    font-weight: 37rem;
}

li a:hover {
    transform: scale(105%);
    color: black;
}

.active {
    background-color: #5a6356;
    color: white;
}

/* HOMEPAGE */
.intro {
    font-weight: 850;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.information {
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
}

.resumebox {
    height: 20rem;
    margin-top: -15rem;
}

.aboutmeimg {
    border: 0.5rem solid #bac9b3;
}

/* PROJECTPAGE */

.project {
    text-align: center;
    font-weight: 850;
    margin-top: 1rem;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.projectcards {
    background-color: #9aac93;
}

.logo {
    padding-top: 1rem;
    width: 8rem;
}

.card-header {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
}

/* SPECIFIC PROJECT PAGE */

.projectname {
    text-align: center;
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    font-family: 'Staatliches', cursive;
}

.subject {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Staatliches', cursive;
}

.informationbox {
    margin-top: -1rem;
    background-color: #afbbaa;
}

@media (min-width: 750px) {
    /* TABLET */
    /* HOMEPAGE */

    html body {
        background-color: #e6e7e5;
    }

    /* about me */
    .intro {
        font-weight: 850;
        padding-left: 3rem;
        margin-top: 8rem;
        font-size: 3rem;
    }

    .information {
        margin-top: 4rem;
        font-weight: 750;
        font-size: 1.1rem;
        padding-left: 3rem;
    }

    .resumebox {
        background-color: #9aac93;
        height: 22.5rem;
        margin-top: -19rem;
    }

    .aboutmeimg {
        margin-top: 7rem;
        background-color: #9aac93;
        border: 2rem solid #9aac93
    }

    /* PROJECTPAGE */

    .project {
        font-weight: 900;
        font-size: 3rem;
    }

    .logo {
        width: 7rem;
    }

    .card-header {
        font-size: 1.3rem;
    }

    .projectbox {
        background-color: #9aac93;
        height: 41rem;
        margin-top: -37rem;
    }

    /* SPECIFIC PROJECT PAGE */

    .projectname {
        text-align: center;
        font-weight: 700;
        margin-top: 0.5rem;
        font-size: 2.5rem;
        padding-bottom: 3rem;
        font-family: 'Staatliches', cursive;
    }

    .subject {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: 'Staatliches', cursive;
    }

    .informationbox {
        margin-top: -1rem;
        height: 47rem;
        ;
        background-color: #afbbaa;
    }

    .imginfo {
        margin-top: 2.5rem;
    }
}

@media (min-width: 1024px) {

    /* LAPTOP */

    /* HOMEPAGE */
    html body {
        background-color: #e6e7e5;
    }

    /* about me */
    .intro {
        font-weight: 850;
        margin-left: 3rem;
        margin-top: 10rem;
        font-size: 4rem;
    }

    .information {
        margin-top: 6rem;
        font-weight: 750;
        font-size: 1.2rem;
        margin-left: 3rem;
    }

    /* green container */
    .resumebox {
        background-color: #9aac93;
        height: 25rem;
        margin-top: -25rem;
    }

    .aboutmeimg {
        margin-top: 7rem;
        background-color: #9aac93;
        border: 3rem solid #9aac93
    }

    /* ProjectPage */

    .projectbox {
        height: 41rem;
        margin-top: -35rem;
    }

    /* SPECIFIC PROJECTPAGE */
    .subject,
    .proinfo {
        margin-left: 3.5rem;
    }
}

@media (min-width: 1440px) {

    /* 1224 */
    /* HOMEPAGE */
    .intro {
        font-weight: 900;
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
        margin-top: 6rem;
        margin-left: 3rem;
    }

    .information {
        font-weight: 700;
        margin-top: 13rem;
        font-size: 1.5rem;
        margin-left: 3rem;
    }

    .resumebox {
        height: 37rem;
        margin-top: -26rem;
    }

    .aboutmeimg {
        margin-top: 0rem;
    }

    /* ProjectPage */

    .project {
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }

    .projectcards {
        background-color: #9aac93;
        margin-top: 2rem;

    }

    .projectbox {
        background-color: #9aac93;
        height: 40rem;
        margin-top: -21rem;
    }

    .card-header {
        font-size: 1rem;
        font-weight: 800;
        margin-top: 2rem;
    }

    .card-body {
        font-size: 1.1rem;
        font-weight: 600;
    }

    /* SPECIFIC PROJECTPAGE */
    .projectname {
        margin-top: 0rem;
        font-size: 6rem;
        padding-bottom: 1rem;
        font-family: 'Staatliches', cursive;
    }

    .subject {
        margin-top: 1rem;
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Staatliches', cursive;
    }

    .proinfo {
        margin-top: 1rem;
        font-weight: 600;
    }

    .informationbox {
        margin-top: -1rem;
        height: 50rem;
        background-color: #afbbaa;
    }

    .imginfo {
        margin-top: 2.5rem;
        margin-left: 15rem;
    }
}