body{
    background-color: rosybrown;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: Sofia;
    color: whitesmoke;
}

div1 li p1 {
    font-family:'Courier New', Courier, monospace;
    color: tomato;
}

div1 li p2 {
    font-family:'Courier New', Courier, monospace;
    color: greenyellow;
}

div1 li p3 {
    font-family:'Courier New', Courier, monospace;
    color: teal;
}

div1 li p4 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(247, 0, 255);
}

div1 li p5 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 255, 255);
}

img {
    width: 100px;
    border-style: dashed;
    border-width: 10px;
}

div2 li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif	;
    color: burlywood;
}